@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    font-family: Hortensia, serif;
	font-size: 20px;
	color: #291901;
    background: linear-gradient(180deg, #f5c771 0%, #ffffff 100%);
}

img {
	border-radius: 4px;
}

header {
	
    box-shadow: 5px 5px 10px 1px #000000;
}
.navbar-light {
    background-color: rgb(41, 15, 0);

}

.navbar-light .navbar-nav .nav-link  {
    color:rgb(223, 186, 139);
	transition: all .6s ease;
}

.navbar-light .navbar-nav .nav-link.active {
    color: blanchedalmond;
	transition: all .4s ease;
	

}

.navbar-light .navbar-nav .nav-link:hover {
	color: rgb(250, 235, 215);
	transform: scale(1.1)

}

.navbar-light .navbar-toggler {
    background-color:rgb(223, 186, 139);
}

.navbar-brand img {
    width: 50px;
    
}

.card {
    background: linear-gradient(360deg, #f5c771 0%, #ffffff 100%);
    box-shadow: 5px 5px 10px 1px #000000;
    border-radius: 4px;
}

.sidebar, .btn-outline-primary {
    color: rgb(39, 39, 39);
    background: linear-gradient(360deg, #f5c771 0%, #ffffff 100%);
    box-shadow: 5px 5px 10px 1px #000000;
    border-radius: 4px;
	border-color: rgb(223, 186, 139);
}
.btn-outline-primary {
	font-weight: bold;
	transition: all .4s ease;
}
.btn-outline-primary a {
	text-decoration: none;
	color: rgb(26, 26, 26);
}

.sidebar .calendar {
	border-radius: 4px;

}

.btn-outline-primary:hover {
	color: #291901;
	transform: scale(1.05)
	


}

.card a {
    text-decoration: none;
    color: rgb(39, 39, 39);

}

/* .photo-info {
    box-shadow: 5px 5px 10px 1px #000000;
    border-radius: 4px;
    background: linear-gradient(360deg, #f5c771 0%, #ffffff 100%);
	
} */

#carouselExampleIndicators {
    box-shadow: 5px 5px 10px 1px #000000;
    border-radius: 4px;

}

.slide-text,
.footer-text {
    margin: auto auto;
}

/* .anim {
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0% {
		transform: translate(0);
	}

	10% {
		transform: translate(-2px, -2px);
	}

	20% {
		transform: translate(2px, -2px);
	}

	30% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(2px, 2px);
	}

	50% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, -2px);
	}

	70% {
		transform: translate(-2px, 2px);
	}

	80% {
		transform: translate(-2px, -2px);
	}

	90% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
} */
.anim:hover {
	transition: all .6s ease;
	transform: scale(1.15)

}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}

footer {
    background-color: rgb(41, 15, 0);
    
}

.footer-text {
    color: rgb(223, 186, 139);
    
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text>p>img {
    width: 50px;
    padding-top: 5px;
}

